<div class='mb-sm'>
    <%= question.body%>
</div>

<div class='text-sm question-footer' >
    <div class='text-gray'>
        <%= l(question.created_at,format: :short) %>
    </div>

    <div class='text-right'>
    <%= link_to  fa_icon('pencil'), edit_question_path(question), title:'Edit' %> 
        <%= button_to fa_icon('trash-o'), question_path(question),class:'mt', method: :delete, title: 'Delete'%>
    </div>
</div>