<div class="container">
    <h2 class='title-lg mb'>Questions</h2>

    <% @questions.each do |question|%>
        <p class='mb-sm'><%= link_to "Question #{question.id}","/questions/#{question.id}"%></p>
    <% end %>

    <p class='mt'> <%= link_to 'Create new question', new_question_path, class:'button button-main' %></p>
</div>