<h2>Questions</h2>

<% @questions.each do |question|%>
    <p><%= link_to "Question #{question.id}","/questions/#{question.id}"%></p>
<% end %>

<p><%= link_to 'Create new question', new_question_path %></p>