<div class="container">
    <h1 class='title-lg mb'>Hello this is page <%= @question.id%></h1>
  <%= render 'question', question:@question%>

    <p class='mt'><%= link_to 'Questions All', '/questions'%> </p>
</div>