body{
    background:#03071E;
    display: flex;
    justify-content: center;
}

.wrapper{
    max-width: 800px;
    margin: 40px;
    width: 100%;
}

.container, .navbar{
    background: #fff;
    padding: 20px;
    margin-top: 10px;
}

.navbar{
    background-color: #370617;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    color: white;
    text-decoration: none;
}