body{
    font-family: 'Trebuchet MS',sans-serif;
    color:#03071E;
}

a,button{
    color:#DC2F02
}

.title-lg{
    font-size: 175%;
}

.title-md,.title{
    font-size: 150%;
}

.title-sm{
    font-size:125%
}

.text-sm{
    font-size:80%
}

.text-gray{
    color: #a0a0a0;
}
.text-red{
    color: red;
}

